body{
  background-color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-family: monospace;
    font-size: 50px;
    color: white;
    text-shadow:4px 4px 2px black ;
  
}

.caja{
  width: 900px;
    height: auto;
    font-size: 20px;
    padding: 10px;
}
.blanca{
  background-color: white;
    margin: auto;
    border: 10px solid black;
    border-radius: 20px;
}
.roja{
  background-color: #AC5A39;
  color: white;
  border: 15px solid #802400;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.naranja{
  background-color: #AC5A39;
  color: white;
  border: 15px solid #802400;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.cafe{
  background-color: #AC7A39;
    margin-left: 50%;
    color: white;
    border: 10px solid #804800;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;;

}
.azul{
  background-color: #004680;
  margin: auto;
  color: white;
  border: 5px dashed #3978AC;
  padding: auto;
}